body{
  background-image: linear-gradient(to top, #a8edea 0%, #feecd6 100%);
}
.App {
  text-align: center;
}
img{
  width: 40%;
}
button{
  width: 8em;
  height: 2em;
  border-radius: 5px;
  border: 1px solid grey;
}
button:hover{
  cursor: pointer;
}
.btns{
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.pc,.hc{
  width: 95%;
  margin: auto;
}
h2{
  text-decoration: underline;
}
hr{
  height: 2px;
  background: black;
}